<html>
  <head>
    <title> Registration Form </title>
  </head>

  <body>
    <form action = '/register' method = 'post'>
      <label> First Name </label>
      <input type = "text" name = "firstName" placeholder = "First Name">
      <label> Last Name </label>
      <input type = "text" name = "lastName" placeholder = "Last Name">
      <label> Username </label>
      <input type = "text" name = "username" placeholder = "Username">
      <label> Email </label>
      <input type = "email" name = "email" placeholder = "email">
      <label> Password </label>
      <input type = "password" name = "password" placeholder = "Password">
      <button> Sign Up </button>
    </form>
  </body>

</html>
